
<div class="container-fluid">

      <div class="row">
                  
             <div class="col-xs-12 col-sm-12 col-md-12">

                  <div class="panel panel-default ">
                    <div class="panel-heading">
                        <div class = "avatar_box" >
                              <a class="avatar" href="/posts?author=<%= post.author._id %>">
                                <img class="avatar" src="/img/<%= post.author.avatar %>">
                              </a>
                        </div>
                            
                              <p class="username"><a href="/posts?author=<%= post.author._id %>">
                              <%=post.author.name  %>
                              </a></p> 
       
                        
                        <span class="usercreated"><%= post.created_at %></span>
                    </div>
                    <div class="panel-body">
                           <p><%- post.content %></p>
                            <div class="usertools row">
                                  <div class="col-xs-4 col-sm-4 col-md-4">
                                    <img src="/img/usertools/mo.png">
                                    <span><%= post.pv %></span>
                                  </div>
                                  <div class="col-xs-4 col-sm-4 col-md-4">
                                    <a href="/posts/<%= post._id %>">
                                    <img src="/img/usertools/comment.png">
                                     <span><%= post.commentsCount %></span>
                                     </a>
                                  </div>
                                  <div class="col-xs-4 col-sm-4 col-md-4 thumb">
                                    <img src="/img/usertools/thumb.png">
                                  </div>
                            </div>
                    </div>
                  </div>
                   </div>
          </div>
</div>
